@use "../abstracts";

.achieve-container {
    padding: 70px 0;
    position: relative;

    @include abstracts.screen(lg) {
        padding: 50px 0;
    }

    @include abstracts.screen(sm) {
        padding: 30px 0;
    }
}

.achieve-inner {
    width: 100%;
    flex-shrink: 0;

    @include abstracts.screen(lg) {
        height: 500px;
    }

    @include abstracts.screen(md) {
        max-height: 400px;
    }

    @include abstracts.screen(sm) {
        min-height: 350px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.achieve-bottom {
    position: absolute;
    // z-index: ;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    @include abstracts.screen(xl) {
        gap: 80px;
    }

    @include abstracts.screen(lg) {
        gap: 90px;
        display: flex;
        flex-direction: column;
    }
    @include abstracts.screen(md) {
        gap: 60px
    }

    @include abstracts.screen(sm) {
        gap: 30px
    }
}

.achieve-item {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 18px;

    @include abstracts.screen(xl) {
        gap: 15px;
    }

    &__desc {
        width: 148px;

        @include abstracts.screen(lg) {
            width: 160px;
        }
    }
}