@use "../abstracts";

.element__blog {
  padding: 86px 0;

  @include abstracts.screen(lg) {
    padding: 60px 0;
  }
}

.element__inner {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  @include abstracts.screen(lg) {
    flex-direction: column;
    gap: 71px;
  }
}

.element__left,
.element__right {
  display: flex;
  flex-direction: column;
  gap: 150px;

  @include abstracts.screen(lg) {
    gap: 50px;
  }
}

.element__item {
  text-align: center;

  &--heading {
    margin: 48px 0 6px;

    @include abstracts.screen(lg) {
        margin-top: 36px;
    }
  }

  &--desc {
    @include abstracts.screen(lg) {
        max-width: 450px;
    }
  }
}
