@use "../abstracts";

.input__blog {
  margin-top: 140px;
  background: #fb8f2c;
}

.input__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;

  @include abstracts.screen(xl) {
    flex-direction: column;
  }
}

.input__right {
  display: flex;
  gap: 20px;

  &--enter {
    padding: 20px 200px 20px 20px;

    @include abstracts.screen(xl) {
      // padding-right: 60px;
    }
  }
}
