@use "../abstracts";

.blog-container {
  margin-top: 56px;
  padding-bottom: 56px;

  @include abstracts.screen(sm) {
    margin-top: 40px;
  }
}

.blog-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include abstracts.screen(xl) {
    gap: 40px;
  }
  
  @include abstracts.screen(lg) {
    gap: 50px;
  } 

  @include abstracts.screen(md) {
    gap: 3  0px;
  } 
}

.blog-gap {
  @include abstracts.screen(lg) {
    gap: 30px;
  }

  &__bottom {
    @include abstracts.screen(lg) {
      flex-direction: column-reverse;
    }
  }
}

.blog-top {
  text-align: center;

  &__heading {
    margin-top: 20px;
  }
}

.blog-right {
  &__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }

  &__heading {
    margin: 20px 0;
    color: var(--text-color) !important;
  }

  &__desc {
    color: var(--text-desc);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 155.556%;

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
    }
  }
}

.blog-right__more {
  margin: 30px 0;
  gap: 111px;
  display: flex;
  align-items: center;

  @include abstracts.screen(lg) {
    margin-bottom: 60px;
  }
}

.blog-link {
  display: inline-block;
}

.blog-more {
  // margin-top: 30px;
  margin: 0 auto;
  // display: inline-block;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
