@use "../abstracts";

.method__blog {
    margin-top: 150px;
}

.method__inner {
    padding: 27px 0;
    display: flex;
    gap: 160px;
    align-items: center;
    justify-content: center;

    @include abstracts.screen(xl) {
        gap: 100px;
    }

    @include abstracts.screen(lg) {
        flex-direction: column-reverse;
        align-items: inherit;
    } 
}

.method__left {
    position: relative;

    &--thumb {
        width: 100%;
        height: 100%;
    }

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--icon {
        position: absolute;
        top: -38px;
        right: -42px;
        z-index: -1;
    }
}

.method__right {
    max-width: 470px;

    @include abstracts.screen(lg) {
        width: 100%;    
    }

    &--desc {
        margin: 20px 0 40px;

        @include abstracts.screen(lg) {
            
        }
    }

    &--link {
        display: inline-block;
    }
}