@use "../abstracts";

.input__blog {
  margin-top: 140px;
  background: #fb8f2c;

  @include abstracts.screen(lg) {
    margin-top: 80px;
  }
}

.input__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;

  @include abstracts.screen(xl) {
    flex-direction: column;
  }
}

.input__right {
  display: flex;
  gap: 20px;

  @include abstracts.screen(md) {
    flex-direction: column;
    width: 100%;
  }

  &--enter {
    padding: 20px 200px 20px 20px;

    @include abstracts.screen(md)  {
      padding-right: 20px;
    }
  }
}
