@use "../abstracts";

.intro-home {
  display: grid;
  grid-template-columns: 5.8fr 4.2fr;
  align-items: center;
  gap: 30px;

  @include abstracts.screen(xxl) {
    // display: grid;
    grid-template-columns: 5.2fr 4.5fr;
  }

  @include abstracts.screen(lg) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 90px 0;
  }

  @include abstracts.screen(md) {
    padding: 60px 0;
  }

  @include abstracts.screen(sm) {
    padding: 30px 0;
  }

}

.intro-inner {
  &__heading {
    margin: 10px 0 20px;
  }

  &__desc {
    margin-bottom: 40px;

    @include abstracts.screen(xl) {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: #fb8f2c !important;
    display: inline-block;
  }
}

.intro-media {
  position: relative;


  &__food {
    width: 370px;
    height: 436px;
    object-fit: contain;

    @include abstracts.screen(xl) {
      height: 300px;
      object-fit: contain;
    }

    @include abstracts.screen(lg) {
      height: 100%;
      object-fit: cover;
    }

    @include abstracts.screen(lg) {
      max-height: 280px;
      object-fit: contain;
    }

    @include abstracts.screen(sm) {
      max-height: 250px;
    }
  }

//   &__item {
//     --grid-gutter-y: 30px;
//   }

  &__meat,
  &__meat1,
  &__meat2   {
    width: 80px;
    height: 83px;
    // display: block;
    object-fit: contain;
    position: absolute;

    @include abstracts.screen(sm) {
      width: 54px;
      height: 54px;
      // object-fit: contain;
    }
  }

  &__meat {
    right: 20px;
    top: 72px;

    @include abstracts.screen(lg) {
      right: -100px;
      top: 60px;
    }

    @include abstracts.screen(md) {
      right: -50px;
      top: 30px;
    }

    @include abstracts.screen(sm) {
      right: 0;
    }
  }

  &__meat1 {
    right: 0;
    top: 185px;

    @include abstracts.screen(lg) {
      right: -170px;
      top: 165px;
    }

    @include abstracts.screen(md) {
      right: -105px;
      top: 110px;
    }

    @include abstracts.screen(sm) {
      right: -14px;
      top: 104px;
    }
  }

  &__meat2 {
    right: 20px;
    top: 294px;

    @include abstracts.screen(lg) {
      right: -100px;
      top: 274px;
    }

    @include abstracts.screen(md) {
      right: -50px;
      top: 190px;
    }

    @include abstracts.screen(sm) {
      right: 0;
      top: 178px;
    }
  }

  &__card {
    position: absolute;
    padding: 12px 16px 8px 16px;
    background: #fb8f2c;
    bottom: 66px;
    left: -30px;
    border-radius: 16px;

    @include abstracts.screen(lg) {
      bottom: 90px;
      left: -70px;
    }

    @include abstracts.screen(md) {
      bottom: 60px;
      left: -30px;
    }

    @include abstracts.screen(sm) {
      padding: 8px 10px;
      left: 10px;
    }
  }
}
