@use "../abstracts";

.brand-container {
  padding-top: 70px;
}

.brand-inner {
  margin-top: 70px;
}

.brand__content {
  text-align: center;

  &--desc {
    display: inline-block;
    max-width: 625px;
    margin-top: 10px;
  }
}

.brand__bottom {
  margin-top: 118px;
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include abstracts.screen(lg) {
    margin-top: 90px;
  }

  @include abstracts.screen(md) {
    margin-top: 80px;
  }

  @include abstracts.screen(lg) {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &--gap {
    @include abstracts.screen(lg) {
      min-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 0 auto;
    }
  }

  &--thumb {
    width: 100%;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--brand {
    display: flex;
    transform: translateY(50%);

    &--img {
      margin: 0 auto;
    }
  }
}

.brand__item {
  position: relative;
}
