@use "../abstracts";

.order__home {
  margin-top: 23px;

  @include abstracts.screen(lg) {
    margin-top: 80px;
  }
}

.order__inner {
  display: flex;
  // gap: 40px;
  justify-content: center;
  align-items: center;

  @include abstracts.screen(lg) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.order__content {
  &--heading {
    max-width: 570px;
  }

  &--desc {
    max-width: 570px;
    margin-top: 20px;
  }
}


.order__thumb {
  // padding: 52px;
  padding-top: 100%;
  position: relative;
  width: 100%;
  flex-shrink: 0;

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.order__more {
  display: flex;
  gap: 44px;
  justify-content: center;
  align-items: center;

  @include abstracts.screen(lg) {
    gap: 60px;
  }

  @include abstracts.screen(sm) {
    gap: 40px;
  }

  &--img {
    // transform: translateY(-75%);
    width: 71px;
    height: 71px;
    border-radius: 50%;
    object-fit: cover;

    @include abstracts.screen(lg) {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    @include abstracts.screen(sm) {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }

    &--tall {
      transform: translateY(50%);
      width: 71px;
      height: 71px;
      border-radius: 50%;
      object-fit: cover;

      @include abstracts.screen(lg) {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      @include abstracts.screen(sm) {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }
}
