@use "../abstracts";

.discount__background {
  background: #000;
}

.order__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow: hidden;

  @include abstracts.screen(lg) {
    gap: 40px;
  }

  &--thumb {
    padding-top: 97%;
    position: relative;
    flex-shrink: 0;

    &--img {
      position: absolute;
      top: 0;
      left: 101px;
      width: calc(100% - 101px);
      height: 100%;
      object-fit: contain;
      transform: translateY(10%);

      @include abstracts.screen(lg) {
        transform: translateY(0);
      // width: calc(100% - 80px);

      }
    //   margin-left: 101px;
    }

    &--sup {
      position: absolute;
      top: 0;
      z-index: 1;

      @include abstracts.screen(lg) {
        width: 200px;
        height: 200px;
        left: 45px;
      }

      @include abstracts.screen(sm) {
        width: 152px;
        height: 152px;
        left: 30px;
      }
    }
  }

  &--content {
    position: relative;

    @include abstracts.screen(lg) {
      margin-bottom: 40px;
    }
  }

  &--desc {
    margin: 10px 0 40px;
  }

  &--link {
    color: #fff !important;
    display: inline-block;
  }

  &--icon {
    position: absolute;
    right: 0;
    transform: translateY(100%);
  }
}
