@use "../abstracts";

.order__slide {
    padding: 43px 0;

    &--inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            gap: 50px;
        }

        @include abstracts.screen(sm) {
            gap: 34px;
        }
    }
    
    &--item {
        text-align: center;
    }
    
    &--heading, &--desc {
        color: #111114 !important;
    }
}

