.order__call {
  margin-top: 150px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;

  &--desc {
    margin-top: 10px;
    max-width: 510px;
  }

  &--btn {
    margin-top: 40px;
    background: #fb8f2ccc;
    font-size: 3rem;
    line-height: 133.333%;
    font-weight: 500;
    padding: 0 30px;
  }

  &--thumb {
    width: 100%;
    height: 100%;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
