.service-container {
  padding: 80px 0 61px;
  text-align: center;
}

.service-top {
  width: 625px;
  display: inline-block;

  &__desc {
    margin-top: 10px;
  }
}

.service-thumb {
  margin-top: 60px;
}

.service-col {
  display: flex;
  flex-direction: column;
  gap: 28px;
}


