<div class="container">
    <div class="footer">
        <div class="footer__row">
            <!-- footer col 1 -->
            <div class="footer__col">
                <a href="" class="footer__logo">
                    <img src="./assets/icon/logo.svg" alt="" class="footer__logo--icon">
                    <h2 class="home__high footer__logo--heading">WowWraps</h2>
                </a>
                <p class="home__desc footer__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui consequatur repudiandae itaque?</p>

            </div>

            <!-- footer col 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Usefull Link</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="home__desc footer__link">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Services</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Booking</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Menu</a>
                    </li>
                </ul>

            </div>

            <!-- footer col 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact Info</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="home__desc footer__link">Silk St, Barbican, London EC2Y 8DS, UK</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">info@example.com</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">800-123-45-678</a>
                    </li>
                </ul>
            </div>

            <!-- footer col 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Follow us</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="home__desc footer__link">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Linkedin</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">Twitter</a>
                    </li>
                </ul>

            </div>

            <!-- footer col 5 -->
            <div class="footer__col">
                <h3 class="footer__heading">Legal</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="home__desc footer__link">Website by uihut.com</a>
                    </li>
                    <li>
                        <a href="#!" class="home__desc footer__link">©2022. All Rights Reserved</a>
                    </li>
                </ul>

                <p class="home__desc footer__desc">Download the WowWraps app today.</p>
                <div class="footer__app">
                    <a href="" class="footer__app--link">
                        <img src="./assets/img/App/App 1.svg" alt="" class="footer__app--img">
                    </a>
                    <a href="" class="footer__app--link">
                        <img src="./assets/img/App/App 2.svg" alt="" class="footer__app--img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>