<div class="container">
    <div class="top-bar">
        <button class="top-bar__more">
            <img src="./assets/icon/more.svg" alt="" class="top-bar__more-icon">
        </button>

        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link navbar__link-active">Home</a>
                </li>
                <li>
                    <a href="./Menu.html" class="navbar__link ">Menu</a>
                </li>
                <li>
                    <a href="./Blog.html" class="navbar__link">Blog</a>
                </li>
                <li>
                    <a href="./Pages.html" class="navbar__link">Pages</a>
                </li>
                <li>
                    <a href="./Contact.html" class="navbar__link">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="logo">
            <img src="./assets/icon/logo.svg" alt="" class="logo__img">
        </div>

        <div class="serve">
            <p href="" class="serve__time">11:24 we’re open</p>
            <a href="/" class="serve__book">
                Table Reservation
            </a>
        </div>
    </div>
</div>